@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Ubuntu&display=swap');


body {
    background-color: rgb(168, 162, 201);
    color:rgb(12,0,12);
    font-family:'Ubuntu', sans-serif;
    font-size: larger;
    font-weight: 600;
}
h1 {
    font-family: 'Indie Flower', cursive;
}

.col-4 {
    margin-top: auto; 
    margin-bottom: auto;
}